### syntex
* lambda **arguments** : **expression**

In [2]:
def addition(x,y):
    return x+y

addition(5,6)

11

In [3]:
addition=lambda x,y: x+y
addition(4,5)

9

In [4]:
odd_even=lambda num: True if num%2==0 else False
odd_even(6)

True

In [5]:
odd_even=lambda num: print(f"given number is even {num}") if num%2==0 else print(f"Given number is odd {num}")
odd_even(6)

given number is even 6

In [6]:
addition=lambda x,y,z: x+y+y
addition(5,6,6)

17

In [7]:
## map(function, iterable) -> returns a map object (an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

number = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, number))
squared

[1, 4, 9, 16, 25]

In [8]:
num=[1,2,3,4]

cube=list(map(lambda x:x**3,num))
cube

[1, 8, 27, 64]

In [12]:
number=[3,5,6,7,8]
def squre(number):
    return number**2

squre=list(map(squre,number))
squre

[9, 25, 36, 49, 64]

In [13]:
list(map(lambda x:x**2, number))

[9, 25, 36, 49, 64]

In [15]:
## filter(function, iterable) -> constructs an iterator from elements of an iterable for which a function returns true
def Square(num):
    return num**2
Square(5)

25

In [17]:
numbers = [1, 2, 3, 4, 5,6,7,8,9,10,11,12,13,14,15]
print(list[map(Square, numbers)])
print(list(map(Square, numbers)))

list[<map object at 0x78b19a3d4880>]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [18]:
num1=[5,6,3,5,2]
num2=[5,6,7,2,5]
print(list(map(lambda x,y: x+y, num1,num2)))

[10, 12, 10, 7, 7]

In [19]:
##map() to convert a list of strings to a list of integers
#using map() to convert a list of strings to a list of integers
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [20]:
words=['hello', 'world', 'python']
upper_words=list(map(lambda x: x.upper(), words))
print(upper_words)  # Output: ['HELLO', 'WORLD

['HELLO', 'WORLD', 'PYTHON']

In [22]:
lower_words=list(map(lambda x:x.lower(),words))
print(lower_words)

['hello', 'world', 'python']

In [23]:
def get_name(person):
    return person['name']

people=[
    {"name":"kabir","age":24},
    {"name":"pratic","age":22},
    {"name":"punit","age":19}
]
list(map(get_name,people))

['kabir', 'pratic', 'punit']