In [1]:
## Data input output
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("911.csv")
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [3]:
df.to_csv("Example",index=False)

In [9]:
%pip install openpyxl
df1=pd.read_excel("Excel_Sample.xlsx",sheet_name="Sheet1")
df.head()

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [10]:
df.to_excel("Excel_Sample.xlsx",sheet_name="Sheet1")

In [11]:
# html
%pip install lxml
%pip install html5lib
%pip install BeautifulSoup4

Requirement already satisfied: lxml in /home/sheshpalsingh/anaconda3/envs/myenv/lib/python3.10/site-packages (6.0.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: html5lib in /home/sheshpalsingh/anaconda3/envs/myenv/lib/python3.10/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /home/sheshpalsingh/anaconda3/envs/myenv/lib/python3.10/site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in /home/sheshpalsingh/anaconda3/envs/myenv/lib/python3.10/site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: BeautifulSoup4 in /home/sheshpalsingh/anaconda3/envs/myenv/lib/python3.10/site-packages (4.14.2)
Requirement already satisfied: soupsieve>1.2 in /home/sheshpalsingh/anaconda3/envs/myenv/lib/python3.10/site-packages (from BeautifulSoup4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/sheshpalsingh/anaconda3/envs/myenv/lib/python3.10/site-packages (from BeautifulSoup4) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
df=pd.read_html("http://www.fdic.gov/bank/individual/failed/banklist.html")

In [16]:
df1=df[0]

In [17]:
df1.head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545